<div th:fragment="camposFormCriarUsuario" class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" onblur="habilitarBotaoCadastrar()"/>
        </div>
        <div class="col-md-6">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" class="form-control cpf" id="cpf" name="cpf" oninput="formatarCPF(this); habilitarBotaoCadastrar()"/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email" onblur="validarEmailOnExit(this); habilitarBotaoCadastrar()"/>
        </div>
        <div class="col-md-6">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" name="telefone" oninput="formatarTelefone(this); habilitarBotaoCadastrar()"/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="senha" name="senha" oninput="validarSenha(); habilitarBotaoCadastrar()"/>
        </div>
        <div class="col-md-6">
            <label for="confirmarSenha" class="form-label">Confirmar Senha:</label>
            <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" oninput="validarSenha(); habilitarBotaoCadastrar()"/>
            <div id="msgErroSenha" class="text-danger"></div>
        </div>
    </div>
    <div th:if="${usuarioLogado}">
        <div class="row">
            <div class="col-md-6">
                <label for="perfil" class="form-label">Perfil:</label>
                <select id="perfil" name="tipoPerfil" class="form-select" onchange="habilitarBotaoCadastrar()">
                    <option th:each="perfil : ${tiposPerfil}" th:value="${perfil}" th:text="${perfil.getNome()}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success mt-3" id="btnCadastrar" disabled>
                Cadastrar
            </button>
        </div>
    </div>
</div>