<div th:fragment="detalhesUsuario">
    <div class="col-md-auto">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" th:value="${usuarioLogado.nome}" readonly/>
    </div>
    <div class="mb-3 row">
        <div class="col-md-auto">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" class="form-control cpf" id="cpf" name="cpf" th:value="${usuarioLogado.CPF}" readonly/>
        </div>
        <div class="col-md-auto">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email" th:value="${usuarioLogado.email}" readonly/>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-md-auto">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="senha" name="senha" th:value="${usuarioLogado.senha}" readonly/>
        </div>
        <div class="col-md-auto">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" name="telefone" th:value="${usuarioLogado.telefone}" readonly/>
        </div>
    </div>
    <div>
        <label for="perfil" class="form-label">Perfil:</label>
        <input type="text" class="form-control" id="perfil" name="perfil" th:value="${usuarioLogado.nome}" readonly/>
    </div>
</div>

<div th:fragment="camposFormCriarUsuario">
    <div class="col-md-auto">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" th:value="${usuarioLogado.nome}"/>
    </div>
    <div class="mb-3 row">
        <div class="col-md-auto">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" class="form-control cpf" id="cpf" name="cpf" th:value="${usuarioLogado.CPF}" oninput="formatarCPF(this)"/>
        </div>
        <div class="col-md-auto">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email" th:value="${usuarioLogado.email}"/>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-md-auto">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="senha" name="senha" th:value="${usuarioLogado.senha}"/>
        </div>
        <div class="col-md-auto">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" name="telefone" th:value="${usuarioLogado.telefone}"/>
        </div>
    </div>

    <button type="button" class="btn btn-success mt-3">
        Atualizar
    </button>
</div>




