<div th:fragment="camposFormCriarUsuario">
    <div class="col-md-auto">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome"/>
    </div>
    <div class="mb-3 row">
        <div class="col-md-auto">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" class="form-control cpf" id="cpf" name="cpf" oninput="formatarCPF(this)"/>
        </div>
        <div class="col-md-auto">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email"/>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-md-auto">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="senha" name="senha"/>
        </div>


        <div class="col-md-auto">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" name="telefone" oninput="formatadorTelefone()"/>
        </div>


    </div>


    <div th:if="${usuarioLogado}">
        <label for="perfil" class="form-label">Perfil:</label>
        <select id="perfil" name="tipoPerfil">
            <option th:each="perfil : ${tiposPerfil}" th:value="${perfil}" th:text="${perfil.getNome()}"></option>
        </select>
    </div>

    <button type="button" class="btn btn-success mt-3">
        Cadastrar
    </button>
</div>