<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base/base-elem :: head-padrao}"></head>

<body>
    <div th:replace="~{base/head-page :: menu-lateral}"></div>
    <div th:replace="~{base/head-page :: topo-pagina}"></div>

    <div class="body-geral">
        <h4 class="titulo-pagina">Minha conta</h4>

        <form action="/minhaConta/salvar" method="post">
            <div th:replace="~{contas/formMinhaConta :: detalhesUsuario}"></div>
        </form>

    </div>


    <div th:replace="~{base/base-elem :: script-padrao}"></div>
</body>

</html>