@import "geral.css";

.quadro-denuncias{
    display: flex;
    gap: 10px;
    z-index: 1;
}

.card-denuncia {
    flex: 1;
    padding: 10px;
    width: 300px;
    height: 150px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.card-denuncia span.titulo-card-denuncia {
    top: 10px;
    left: 10px;
    font-size: 13px;
}

.contagem-denuncia span.contagem-denuncia{
    bottom: 10px;
    left: 10px;
    font-size: 50px;

}

.aberto {
    background-color: var(--verde-fundo-card-dashboard);
}

.emAnalise{
    background-color: var(--azul-fundo);
}

.precisaAtencao {
    background-color: var(--vermelho-fundo);
}

a.sem-borda{
    border: none;
}

.card-denuncia span.contagem-denuncia-verde {
    color: darkgreen;
    position: absolute;
    font-size: 35px;
    right: 30px;
    bottom: 5px;
}

.card-denuncia span.contagem-denuncia-azul {
    color: darkblue;
    position: absolute;
    font-size: 35px;
    right: 30px;
    bottom: 5px;
}

.card-denuncia span.contagem-denuncia-vermelho {
    color: darkred;
    position: absolute;
    font-size: 35px;
    right: 30px;
    bottom: 5px;
}


