* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

:root {
    --principal: #2be334; /* Definindo uma variável de cor chamada --cor-primaria */
    --verde-escuro: #009b3f;
    --linhas-bordas: #8bffba;
    --verde-fundo: #ecfff4;
    --verde-fundo-box: #5abf5a;
    --verde-claro: #57de8f;
    --vermelho-fundo: #fff4f4;
    --vermelho-fundo-box: #fa4b4b;
    --vermelho-escuro: #fd3c3c;
}

.body-geral{
    padding-left: 10vw;
    margin-right: 10vw;
}

.form-centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    margin-left: 40vw;
    margin-right: 40vw;
}

.div-form-centralizado{
    margin-bottom: 10px;
}

.box {
    padding: 1vw;
}

.bordas-radius {
    border: 1px solid var(--linhas-bordas);
    border-radius: 12px;
}

.mensagem-de-erro {
    border-radius: 18px;
    padding: 0.8vh;
    color: var(--vermelho-escuro);
    background-color: var(--vermelho-fundo);
    font-size: 12px;
}

/*Icones de botãos tipo button*/
button.salvar {
    background-image: url('/static/assets/salvar.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 10px;
    border: none;
}

label.obrigatorio {
    color: #fd3c3c;
}