* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

:root {
    --principal: #2be334; /* Definindo uma variável de cor chamada --cor-primaria */
    --verde-escuro: #009b3f;
    --linhas-bordas: #8bffba;
    --verde-fundo: #ecfff4;
    --verde-fundo-box: #5abf5a;
    --verde-fundo-card-dashboard: #E4FFE8;
    --verde-claro: #57de8f;
    --vermelho-fundo: #fff4f4;
    --azul-fundo: #E0F6FF;
    --vermelho-fundo-box: #fa4b4b;
    --vermelho-escuro: #fd3c3c;
}

.body-geral{
    padding-left: 10vw;
    margin-right: 10vw;
}

.form-centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
    margin-left: 40vw;
    margin-right: 40vw;
}

.div-form-centralizado{
    margin-bottom: 10px;
}

.top-bar-geral {
    margin-bottom: 10px;
    background-color: #ecfff4;
    color: #0b560b;
    padding: 10px;
    box-shadow: 2px 0 0 var(--linhas-bordas);
    container: fluid text-center;
    width: 100%;
    text-align: center;
}

.box {
    padding: 1vw;
}

.bordas-radius {
    border: 1px solid var(--linhas-bordas);
    border-radius: 12px;
}

.mensagem-de-erro {
    border-radius: 18px;
    padding: 0.8vh;
    color: var(--vermelho-escuro);
    background-color: var(--vermelho-fundo);
    font-size: 12px;
}

.legenda {
    font-style: italic;
    color: #878787;
    font-size: 0.8em;
}

fieldset {
    display: block;
    border: 1px solid var(--verde-fundo-box);
    border-radius: 18px;
    padding: 10px;
}

i {
    margin-right: 10px;
}

div.btn-direita {
    float: right;
}

div.modal {
    z-index: 9999;
}

div.mensagem-fixa{
    padding: 8px;
    background-color: #d4ffcf;
    color: #0b560b;
    border-radius: 8px;
}

hr {
    margin-top: 7px;
    margin-bottom: 7px;
}

.separator-line {
    border-top: 1px solid var(--bs-secondary-color-rgb); /* Define a cor da linha superior */
    margin: 20px 0; /* Ajusta a margem para espaçamento */
}

.hide-info {
    display: none !important;
}

.btn-custom-border {
    border-color: #c7c7c7; /* Escolha a cor que deseja para a borda */
}
