.menu-lateral{
    width: 80px;
    height: 100vh;
    background-color: var(--verde-fundo);
    box-shadow: 2px 0 0 var(--linhas-bordas);
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    transition: 0.3s;
}

.menu-lateral:hover {
    width: 300px;
}

.btn-expandir > i {
    color: var(--verde-escuro);
    font-size: 25px;
    cursor: pointer;
}

.lista-de-itens-menu {
    height: 100%;
    list-style-type: none;
}

.lista-de-itens-menu li.item-menu a{
    color: var(--verde-escuro);
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    margin: 0;
    display: flex;
    line-height: 40px;
}

.nome-item {
    margin-left: 20px;
}

.lista-de-itens-menu li.item-menu:hover{
    background-color: var(--verde-escuro);
    color: var(--verde-fundo);
}

.lista-de-itens-menu li.item-menu a:hover {
    color: var(--verde-fundo);
}

.lista-de-itens-menu li.item-menu {
    transition: 0.2s;
}

.icon-item {
    margin-left: 10px;
}