<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base/base-elem :: head-padrao}"></head>
<body>
<div th:replace="~{base/head-page :: menu-lateral}"></div>
<div th:replace="~{base/head-page :: topo-pagina}"></div>
<div th:replace="~{base/mensagem :: notificacao}"></div>

    <div class="body-geral">
        <h4 class="titulo-pagina">Denúncias</h4>
        <hr>

        <div class="table-responsive">
            <div class="btn-direita">
                <div class="d-flex">
                    <div class="col-md-auto">
                        <button id="btnShowModal" type="button" class="btn btn-outline-success me-2" data-bs-toggle="modal" data-bs-target="#modalFiltros"><i class="bi bi-funnel"></i>Filtrar</button>
                        <div class="modal fade" id="modalFiltros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="tituloModalFiltros" th:text="@{'Filtrar Denúncias'}"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Filtro aqui:</h5>
<!--                                        <p th:text="@{${registro.denuncia.getTitulo()}}"></p>-->
                                        <hr>
                                        <h5>Outros filtros:</h5>
<!--                                        <p th:text="@{'Data atualização: ' + ${registro.dataHoraRegistroFormatada()} } "></p>-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Entendido</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <a th:href="@{'/denuncia/nova'}" class="novo-btn btn btn-success"><i class="bi bi-file-earmark-plus"></i>Nova</a>
                    </div>
                </div>
            </div>

            <!--Validar se é admin, analista ou acesso total, para mostrar o table de denuncias em analise-->
            <div th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                <h5>Denúncias a acompanhar</h5>
                <div th:if="${#lists.size(denunciasEmAnaliseAnalista) > 0}">
<!--                    <div th:replace="~{denuncia/tableDenuncia :: table-denuncia(${denunciasEmAnaliseAnalista})}"></div>-->
                    <div th:replace="~{denuncia/tableDenuncia :: table-denuncia-renderizada}"></div>
                </div>
                <div th:unless="${#lists.size(denunciasEmAnaliseAnalista) > 0}">
                    <span class="legenda">Não há denúncias a acompanhar! ;)</span>
                </div>
            </div>

            <!--Table do usuario, suas denuncias feitas-->
            <h5>Suas Denúncias</h5>
            <div th:if="${#lists.size(denunciasFeitas) > 0}">
                <div th:replace="~{denuncia/tableDenuncia :: table-denuncia(${denunciasFeitas})}"></div>
<!--                <div th:replace="~{denuncia/tableDenuncia :: table-denuncia-renderizada}"></div>-->
            </div>
            <div th:unless="${#lists.size(denunciasFeitas) > 0}">
                <span class="legenda">Você não tem denúncias registradas ;)</span>
            </div>


        </div>
    </div>

<div th:replace="~{base/base-elem :: script-padrao}"></div>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

</body>
</html>