<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base/base-elem :: head-padrao}"></head>
<body>
<div th:replace="~{base/head-page :: menu-lateral}"></div>
<div th:replace="~{base/head-page :: topo-pagina}"></div>
<div th:replace="~{base/mensagem :: notificacao}"></div>

    <div class="body-geral">
        <h4 class="titulo-pagina">Denúncias</h4>
        <hr>

        <div class="table-responsive">

            <!--Validar se é admin, analista ou acesso total, para mostrar o table de denuncias em analise-->
            <div th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                <h5>Denúncias a acompanhar</h5>
                <div class="btn-direita">
                    <div class="d-flex">

                        <div th:replace="~{denuncia/modalFiltroDenuncias :: modalFiltros}"></div>

                        <div class="col-md-auto">
                            <a th:href="@{'/denuncia/nova'}" class="novo-btn btn btn-success"><i class="bi bi-file-earmark-plus"></i>Nova</a>
                        </div>
                    </div>
                </div>
                <div th:if="${#lists.size(denunciasEmAnaliseAnalista) > 0}">
<!--                    <div th:replace="~{denuncia/tableDenuncia :: table-denuncia(${denunciasEmAnaliseAnalista})}"></div>-->
                    <div th:replace="~{denuncia/tableDenuncia :: table-denuncia-renderizada}"></div>
                </div>
                <div th:unless="${#lists.size(denunciasEmAnaliseAnalista) > 0}">
                    <span class="legenda">Não há denúncias a acompanhar! ;)</span>
                </div>
            </div>

            <!--Table do usuario, suas denuncias feitas-->
            <h5>Suas Denúncias</h5>

            <!--Botão Filtro de Denúncias para o usuário, se caso houver... -->
            <div class="btn-direita">
                <div class="d-flex">
                    <div th:if="${#lists.size(denunciasFeitas) > 0}" th:replace="~{denuncia/modalFiltroDenuncias :: modalFiltrosDenunciaUsuario}" ></div>
                    <div class="col-md-auto">
                        <a th:href="@{'/denuncia/nova'}" class="novo-btn btn btn-success"><i class="bi bi-file-earmark-plus"></i>Nova</a>
                    </div>
                </div>
            </div>

            <div th:if="${#lists.size(denunciasFeitas) > 0}">
<!--                <div th:replace="~{denuncia/tableDenuncia :: table-denuncia(${denunciasFeitas})}"></div>-->
                <div th:replace="~{denuncia/tableDenuncia :: table-denuncia-do-usuario}"></div>
            </div>
            <div th:unless="${#lists.size(denunciasFeitas) > 0}">
                <span class="legenda">Você não tem denúncias registradas ;)</span>
            </div>

        </div>
    </div>

<div th:replace="~{base/base-elem :: script-padrao}"></div>

</body>
</html>