<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base/base-elem :: head-padrao}"></head>
<body>
<div th:replace="~{base/head-page :: menu-lateral}"></div>
<div th:replace="~{base/head-page :: topo-pagina}"></div>

<div class="body-geral">
    <h4 class="titulo-pagina">Novo comentário</h4>
    <div th:fragment="formNovoRegistroDenuncia">
        <form th:action="@{'/denuncia/registro/adicionarComentario/salvar'}" method="POST">
            <input type="hidden" th:value="${denuncia.id}" name="denunciaId">
            <div class="mb-3">
                <label for="tituloRegistro" class="form-label">Titulo:</label>
                <input type="text" class="form-control" id="tituloRegistro" name="titulo">
            </div>
            <div class="mb-3">
                <label for="descricaoRegistro" class="form-label">Comentário:</label>
                <textarea class="form-control" id="descricaoRegistro" name="descricao"></textarea>
            </div>
            <input type="hidden" th:value="${usuarioLogado.id}" name="idUsuario">
            <div th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                <div th:if="${denuncia.precisaIniciar()}">
                    <div class="mb-3">
                        <button class="salvar-btn btn btn-success" onclick="submitFormEmEndpoint('/denuncia/registro/adicionarComentario/aguardandoAnalise', this.form)">Adicionar Comentário</button>
                        <button class="salvar-btn btn btn-success" onclick="submitFormEmEndpoint('/denuncia/registro/adicionarComentario/iniciarAnalise', this.form)">Iniciar Analise</button>
                    </div>
                </div>
                <div th:unless="${denuncia.precisaIniciar()}">
                    <div class="mb-3">
                        <button class="salvar-btn btn btn-success" onclick="submitFormEmEndpoint('/denuncia/registro/adicionarComentario/salvar', this.form)">Adicionar Comentário</button>
                        <button class="salvar-btn btn btn-success" onclick="submitFormEmEndpoint('/denuncia/registro/adicionarComentario/rejeitar', this.form)">Rejeitar</button>
                        <button class="salvar-btn btn btn-success" onclick="submitFormEmEndpoint('/denuncia/registro/adicionarComentario/resolvida', this.form)">Resolvida</button>
                    </div>
                </div>
            </div>
            <div th:unless="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                <div class="mb-3">
                    <button class="salvar-btn btn btn-success" onclick="submitFormEmEndpoint('/denuncia/registro/adicionarComentario/salvar', this.form)">Adicionar Comentário</button>
                    <button class="salvar-btn btn btn-success" onclick="submitFormEmEndpoint('/denuncia/registro/adicionarComentario/encerrar', this.form)">Encerrar Denúncia</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div th:replace="~{base/base-elem :: script-padrao}"></div>
</body>
</html>