<div class="col-md-auto" th:fragment="modalFiltros">
  <button id="btnShowModal" type="button" class="btn btn-outline-success me-2" data-bs-toggle="modal" data-bs-target="#modalFiltros"><i class="bi bi-funnel"></i>Filtrar</button>
  <div class="modal fade" id="modalFiltros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tituloModalFiltros" th:text="@{'Filtrar Denúncias'}"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Selecione as Opções:</h5>
          <hr>
          <label for="protocoloForm" class="form-label">Protocolo</label>
          <input type="text" id="protocoloForm" class="form-control">

          <label for="estadoForm" class="form-label">Estado:</label>
          <select id="estadoForm" class="form-select" onchange="filtroListarMunicipios()">
            <option value="">Selecione um Estado</option> <!-- Opção vazia -->
            <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado.getNome()}"></option>
          </select>

          <label for="municipioForm" class="form-label">Municipio:</label>
          <select id="municipioForm" class="form-select" >
            <!--é vazio pois é preenchido com Javascript lixo-->
          </select>

          <label for="categoriaForm" class="form-label">Categoria:</label>
          <select id="categoriaForm" class="form-select">
            <option value="">Selecione uma opção</option>
            <option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.getNome()}"></option>
          </select>

          <hr>

          <div class="input-group date" id="datepickerDtOcorrencia">
            <label for="dataOcorrencia" class="form-label">Data da Ocorrência:</label>
            <input type="date" class="form-control" id="dataOcorrencia"/>
            <span class="input-group-append">
                                                <i class="fa fa-calendar"></i>
                                            </span>
          </div>

          <div class="input-group date" id="datepickerDtCadastro">
            <label for="dataCadastro" class="form-label">Data da Criação da Denúncia:</label>
            <input type="date" class="form-control" id="dataCadastro"/>
            <span class="input-group-append">
                                                <i class="fa fa-calendar"></i>
                                            </span>
          </div>

          <hr>

          <label for="statusDenunciaForm" class="form-label">Status:</label>
          <select id="statusDenunciaForm" class="form-select">
            <option value="">Selecione uma opção</option>
            <option th:each="stat : ${todosStatusDenuncia}" th:value="${stat}" th:text="${stat.getNome()}"></option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="filtrarDenunciasAnalista()">Filtrar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-auto" th:fragment="modalFiltrosDenunciaUsuario">
  <button id="btnShowModalUser" type="button" class="btn btn-outline-success me-2" data-bs-toggle="modal" data-bs-target="#modalFiltros"><i class="bi bi-funnel"></i>Filtrar</button>
  <div class="modal fade" id="modalFiltrosUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tituloModalFiltrosUser" th:text="@{'Filtrar Denúncias'}"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Selecione as Opções:</h5>
          <hr>
          <label for="protocoloFormUser" class="form-label">Protocolo</label>
          <input type="text" id="protocoloFormUser" class="form-control">

          <label for="estadoFormUser" class="form-label">Estado:</label>
          <select id="estadoFormUser" class="form-select" onchange="filtroListarMunicipios()">
            <option value="">Selecione um Estado</option> <!-- Opção vazia -->
            <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado.getNome()}"></option>
          </select>

          <label for="municipioFormUser" class="form-label">Municipio:</label>
          <select id="municipioFormUser" class="form-select" >
            <!--é vazio pois é preenchido com Javascript lixo-->
          </select>

          <label for="categoriaFormUser" class="form-label">Categoria:</label>
          <select id="categoriaFormUser" class="form-select">
            <option value="">Selecione uma opção</option>
            <option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.getNome()}"></option>
          </select>

          <hr>

          <div class="input-group date" id="datepickerDtOcorrenciaUser">
            <label for="dataOcorrenciaUser" class="form-label">Data da Ocorrência:</label>
            <input type="date" class="form-control" id="dataOcorrenciaUser"/>
            <span class="input-group-append">
                                                <i class="fa fa-calendar"></i>
                                            </span>
          </div>

          <div class="input-group date" id="datepickerDtCadastroUser">
            <label for="dataCadastroUser" class="form-label">Data da Criação da Denúncia:</label>
            <input type="date" class="form-control" id="dataCadastroUser"/>
            <span class="input-group-append">
                                                <i class="fa fa-calendar"></i>
                                            </span>
          </div>

          <hr>

          <label for="statusDenunciaFormUser" class="form-label">Status:</label>
          <select id="statusDenunciaFormUser" class="form-select">
            <option value="">Selecione uma opção</option>
            <option th:each="stat : ${todosStatusDenuncia}" th:value="${stat}" th:text="${stat.getNome()}"></option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="filtrarDenunciasUser()">Filtrar</button>
        </div>
      </div>
    </div>
  </div>
</div>