<div th:fragment="table-denuncia(listaDenuncia)">
    <div th:if="${listaDenuncia}">
        <table class="table table-striped">
            <caption></caption>
            <thead>
            <tr>
                <th scope="col">Protocolo</th>
                <div th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                    <th scope="col">Usuário</th>
                </div>
                <th scope="col">Título</th>
                <th scope="col">Municipio</th>
                <th scope="col">Estado</th>
                <th scope="col">Abertura</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-start">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="denuncia : ${listaDenuncia}">
                <td th:text="${denuncia.protocolo}"></td>

                <div th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                    <div th:if="${denuncia.sigilo}">
                        <td>Anônimo</td>
                    </div>
                    <div th:unless="${denuncia.sigilo}">
                        <td th:text="${denuncia.denunciante.getNome()}"></td>
                    </div>
                </div>
                <td th:text="${denuncia.titulo}"></td>
                <td th:text="${denuncia.localizacao.municipio.nome}"></td>
                <td th:text="${denuncia.localizacao.municipio.estado.getNome()}"></td>
                <td th:text="${denuncia.dataHoraDeAbertura()}"></td>
                <td th:text="${denuncia.statusDenuncia.nome}"></td>
                <td>
                    <div class="d-flex">
                        <div class="col-md-auto">
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                  data-bs-trigger="hover focus" data-bs-content="Visualizar Denúncia">
                                <a th:href="@{'/denuncia/' + ${denuncia.id} + '/visualizar'}" type="submit"
                                   class="btn btn-outline-success me-2 sem-borda"><i class="bi bi-eye"></i></a>
                            </span>
                        </div>
                        <div class="col-md-auto">
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                  data-bs-trigger="hover focus" data-bs-content="Visualizar registros">
                                <a th:href="@{'/denuncia/' + ${denuncia.id} + '/registro/historico'}" type="submit"
                                   class="btn btn-outline-success me-2 sem-borda"><i class="bi bi-search"></i></a>
                            </span>
                        </div>
                        <div class="col-md-auto">
                            <div th:if="${denuncia.precisaIniciar()}">
                                <div th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                          data-bs-trigger="hover focus" data-bs-content="Iniciar Análise">
                                        <a th:href="@{'/denuncia/' + ${denuncia.id} + '/registro/adicionarComentario'}"
                                           type="submit" class="btn btn-outline-success me-2 sem-borda">
                                            <i class="bi bi-play-fill"></i>
                                        </a>
                                    </span>
                                </div>
                                <div th:unless="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                          data-bs-trigger="hover focus" data-bs-content="Adicione um comentário">
                                    <a th:href="@{'/denuncia/' + ${denuncia.id} + '/registro/adicionarComentario'}"
                                       type="submit" class="btn btn-outline-success me-2 sem-borda">
                                        <i class="bi bi-chat-dots"></i></a>
                                </span>
                                </div>
                            </div>
                            <div th:unless="${denuncia.precisaIniciar()}">
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                      data-bs-trigger="hover focus" data-bs-content="Adicione um comentário">
                                    <a th:href="@{'/denuncia/' + ${denuncia.id} + '/registro/adicionarComentario'}"
                                       type="submit" class="btn btn-outline-success me-2 sem-borda">
                                        <i class="bi bi-chat-dots"></i></a>
                                </span>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${listaDenuncia}">
        <p>Lista vazia!</p>
    </div>
</div>


<div th:fragment="table-denuncia-renderizada">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Protocolo</th>
            <div th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                <th scope="col">Usuário</th>
            </div>
            <th scope="col">Título</th>
            <th scope="col">Municipio</th>
            <th scope="col">Estado</th>
            <th scope="col">Abertura</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-start">Ações</th>
        </tr>
        </thead>
        <tbody id="tbodyDenunciasTable"></tbody>
    </table>
</div>

<div th:fragment="table-denuncia-do-usuario">
    <table class="table table-striped" id="tableDenunciasDeUsuario">
        <thead>
        <tr>
            <th scope="col">Protocolo</th>
            <div th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                <th scope="col">Usuário</th>
            </div>
            <th scope="col">Título</th>
            <th scope="col">Municipio</th>
            <th scope="col">Estado</th>
            <th scope="col">Abertura</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-start">Ações</th>
        </tr>
        </thead>
        <tbody id="tbodyDenunciasDoUsuarioTable"></tbody>
    </table>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            carregarTableAoAcessaPagina();
            carregarTableSuasDenuncias();
        });
    </script>
</div>