<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base/base-elem :: head-padrao}"></head>
<body>
<div th:replace="~{base/head-page :: menu-lateral}"></div>
<div th:replace="~{base/head-page :: topo-pagina}"></div>

<div class="body-geral">
    <div class="d-flex">
        <div class="container-fluid col-md-auto">
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label style="font-weight: bold">Protocolo</label>
                    <p th:text="${denuncia.protocolo}"></p>
                </div>
                <div class="col-md-auto">
                    <label style="font-weight: bold">Data e Hora da abertura</label>
                    <p th:text="${denuncia.dataHoraDeAbertura}"></p>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-auto">
                    <label style="font-weight: bold">Titulo</label>
                    <p th:text="${denuncia.titulo}"></p>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-auto">
                    <label style="font-weight: bold">Categoria</label>
                    <p th:text="${denuncia.categoria.nome}"></p>
                </div>
                <div class="col-md-auto">
                    <label style="font-weight: bold">Subcategoria</label>
                    <p th:text="${denuncia.subcategoria.descricao}"></p>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-auto">
                    <label style="font-weight: bold">Descrição</label>
                    <p th:text="${denuncia.descricao}"></p>
                </div>
            </div>

            <div th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                <div class="mb-3 row">
                    <div class="col-md-auto">
                        <label style="font-weight: bold">Denunciante</label>
                        <p th:text="${denuncia.denunciante.nome}"></p>
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-auto">
                    <label style="font-weight: bold">Municipio</label>
                    <p th:text="${denuncia.localizacao.municipio.nome}"></p>
                </div>
                <div class="col-md-auto">
                    <label style="font-weight: bold">Estado</label>
                    <p th:text="${denuncia.localizacao.municipio.estado.getNome()}"></p>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-auto">
                    <label style="font-weight: bold">Logradouro</label>
                    <p th:text="${denuncia.localizacao.endereco.logradouro}"></p>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-auto">
                    <label style="font-weight: bold">Bairro</label>
                    <p th:text="${denuncia.localizacao.endereco.bairro}"></p>
                </div>
                <div class="col-md-auto">
                    <label style="font-weight: bold">Numero</label>
                    <p th:text="${denuncia.localizacao.endereco.numero}"></p>
                </div>
                <div class="col-md-auto">
                    <label style="font-weight: bold">CEP</label>
                    <p th:text="${denuncia.localizacao.endereco.CEP}"></p>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-auto">
                    <label style="font-weight: bold">Ponto de Referencia</label>
                    <p th:text="${denuncia.localizacao.endereco.pontoDeReferencia}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="carousel-container">
                <div class="btn-direita" th:if="${usuarioLogado.isAdminOuAnalista() || usuarioLogado.temAcessoTotal()}">
                    <a th:href="@{'/denuncia/' + ${denuncia.id} + '/editar'}"
                       type="button" class="btn btn-outline-success me-2 sem-borda">
                        <i class="bi bi-pencil-square"></i>Editar Categoria</a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div th:replace="~{imagens/imagens :: carrossel-imagens}"></div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{base/base-elem :: script-padrao}"></div>
</body>
</html>