<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base/base-elem :: head-padrao}"></head>
<body>
    <div>
<!--        <div>-->
<!--            <table class="table table-striped">-->
<!--                <h4>Unidades</h4>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">Id</th>-->
<!--                    <th scope="col">Unidade</th>-->
<!--                    <th scope="col">Estado</th>-->
<!--                    <th scope="col">Municipio</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="unidade : ${unidades}">-->
<!--                    <td th:text="${unidade.id}"></td>-->
<!--                    <td th:text="${unidade.nome}"></td>-->
<!--                    <td th:text="${unidade.localizacao.municipio.estado.getNome()}"></td>-->
<!--                    <td th:text="${unidade.localizacao.municipio.nome}"></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--            <form action="/admin/novaUnidade" method="post">-->
<!--                <label for="nome-un" class="form-label">Nome:</label>-->
<!--                <input type="text" class="form-control" id="nome-un" name="nome"/>-->

<!--                <label for="estado" class="form-label">Estado:</label>-->
<!--                <select id="estado" name="estado" >-->
<!--                    <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado.getNome()}"></option>-->
<!--                </select>-->

<!--                <label for="idIBGE" class="form-label">Municipio:</label>-->
<!--                <select id="idIBGE" name="idIBGE">-->
<!--                    <option th:each="municipio : ${municipios}" th:value="${municipio.id}" th:text="${municipio.nome}"></option>-->
<!--                </select>-->

<!--                <label for="usuarios" class="form-label">Usuario Vinculado:</label>-->
<!--                <select id="usuarios" name="usuarioVinculado">-->
<!--                    <option th:each="user : ${usuarios}" th:value="${user.id}" th:text="${user.nome}"></option>-->
<!--                </select>-->

<!--                <label for="logradouro-un" class="form-label">Logradouro:</label>-->
<!--                <input type="text" class="form-control" id="logradouro-un" name="logradouro"/>-->

<!--                <label for="bairro-un" class="form-label">Bairro:</label>-->
<!--                <input type="text" class="form-control" id="bairro-un" name="bairro"/>-->

<!--                <label for="pontoDeReferencia-un" class="form-label">Ponto De Referencia:</label>-->
<!--                <input type="text" class="form-control" id="pontoDeReferencia-un" name="pontoDeReferencia"/>-->

<!--                <button type="submit">Cadastrar Unidade</button>-->
<!--            </form>-->

<!--        </div>-->
        <div style="padding: 20px">
            <table class="table table-striped">
                <h4>Usuarios</h4>
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Senha</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Ativo?</th>
                    <th scope="col">Mais Acões</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.getCPFcomMascara()}"></td>
                    <td th:text="${usuario.senha}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.telefone}"></td>
                    <td th:text="${usuario.tipoPerfil.getNome()}"></td>
                    <td>
                        <div th:if="${usuario.ativo}">
                            <p>Sim</p>
                        </div>
                        <div th:unless="${usuario.ativo}">
                            <p>Não</p>
                        </div>
                    </td>
                    <td>
                        <div th:if="${usuario.ativo}">
                            <form th:action="@{'/usuarios/desativar/' + ${usuario.id} }" method="post">
                                <button type="submit" class="btn btn-danger">Desativar</button>
                            </form>
                        </div>
                        <div th:unless="${usuario.ativo}">
                            <form th:action="@{'/usuarios/ativar/' + ${usuario.id} }" method="post">
                                <button type="submit" class="btn btn-success">Ativar</button>
                            </form>
                        </div>

                        <div>
                            <form th:action="@{'/usuarios/' + ${usuario.id} }" method="post">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <form action="/admin/novoUsuario" method="post">
            <div th:replace="~{contas/formCadastroNovoUsuario :: camposFormCriarUsuario}"></div>
        </form>

        <form action="/admin/upload" th:enctype="'multipart/form-data'" method="post">
            <input type="file" name="arquivos" accept="image/*" multiple>
            <button type="submit">Enviar Arquivos</button>
        </form>

    </div>
    <div th:replace="~{base/base-elem :: script-padrao}"></div>
</body>
</html>