<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base-elem :: head-padrao}"></head>
<body>
    <div>
        <div>
            <table class="table table-striped">
                <h4>Unidades</h4>
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Estado</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="unidade : ${unidades}">
                    <td th:text="${unidade.id}"></td>
                    <td th:text="${unidade.nome}"></td>
                    <td th:text="${unidade.estado.get()}"></td>
                </tr>
                </tbody>
            </table>

        </div>
        <div>
            <table class="table table-striped">
                <h4>Usuarios</h4>
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Senha</th>
                    <th scope="col">Perfil</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.CPF}"></td>
                    <td th:text="${usuario.senha}"></td>
                    <td th:text="${usuario.perfil.getTipoPerfil().get()}"></td>
                </tr>
                </tbody>

            </table>
        </div>
        <div>
            <form action="/admin/novoUsuario" method="post">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome"/>

                <label for="cpf" class="form-label">CPF:</label>
                <input type="text" class="form-control" id="cpf" name="cpf"/>

                <label for="senha" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="senha" name="senha"/>

                <label for="perfil" class="form-label">Perfil:</label>
                <select id="perfil" name="tipoPerfil">
                    <option th:each="perfil : ${tiposPerfil}" th:value="${perfil}" th:text="${perfil.get()}"></option>
                </select>

                <button type="submit">Cadastrar Usuario</button>
            </form>
        </div>
    </div>
    <div th:replace="~{base-elem :: script-padrao}"></div>
</body>
</html>