<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base/base-elem :: head-padrao}"></head>
<body>
    <div th:replace="~{base/mensagem :: notificacao}"></div>
    <div class="formulario">
        <div class="div-form box bordas-radius form-centralizado">
            <form id="login-form" action="/login" method="post">
                <div class="div-form-centralizado">
                    <label for="cpf-login" class="form-label">CPF:</label>
                    <input type="text" class="form-control cpf" id="cpf-login" name="cpf" oninput="formatarCPF(this)"/>
                </div>

                <div class="div-form-centralizado">
                    <label for="senha-login" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="senha-login" name="senha"/>
                </div>

                <div class="div-form-centralizado">
                    <button class="btn btn-outline-secondary" >Esqueci a senha</button>
                    <button class="btn btn-success">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{base/base-elem :: script-padrao}"></div>
</body>
</html>