<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base-elem :: head-padrao}"></head>
<body>
    <div class="formulario">
        <div class="div-form">
            <div id="error-message" class="hidden"></div>
            <form id="login-form">
                <div>
                    <label for="opcoes">Escolha uma unidade:</label>
                    <select id="opcoes" name="opcoes">
                        <option th:each="unidade : ${unidades}" th:value="${unidade}" th:text="${unidade}"></option>
                    </select>
                </div>

                <div>
                    <button class="btn btn-primary" onclick="realizarLogin()">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{base-elem :: script-padrao}"></div>
</body>
</html>