<nav th:fragment="menu-lateral">
    <div class="menu-lateral">

        <ul class="lista-de-itens-menu">
            <li class="item-menu">
                <a href="#">
                    <span class="icon-item"><i class="bi bi-columns-gap"></i></span>
                    <span class="nome-item">Dashboard</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon-item"><i class="bi bi-person-raised-hand"></i></span>
                    <span class="nome-item">Denúncias</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon-item"><i class="bi bi-person-circle"></i></span>
                    <span class="nome-item">Sua Conta</span>
                </a>
            </li>
        </ul>
    </div>
</nav>