<nav th:fragment="menu-lateral">
    <div class="menu-lateral">

        <ul class="lista-de-itens-menu">
            <li class="item-menu">
                <a href="/dashboard">
                    <span class="icon-item"><i class="bi bi-columns-gap"></i></span>
                    <span class="nome-item">Dashboard</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/denuncia">
                    <span class="icon-item"><i class="bi bi-person-raised-hand"></i></span>
                    <span class="nome-item">Denúncias</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/minhaConta">
                    <span class="icon-item"><i class="bi bi-person-circle"></i></span>
                    <span class="nome-item">Sua Conta</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container text-center" th:fragment="topo-pagina">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            EcoGuardian
        </div>
        <div class="col">
            <p th:text="${usuarioLogado.nome}"></p>
        </div>
    </div>
</div>